@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
body{
  place-items: center;
  background-color: rgb(161, 144, 152);
}

.page-div {
  position: sticky;
  top: 0px;
  background-color: rgb(170, 190, 172);
  padding: 10px;
  border-radius: 8px;
}
.page-button {
  padding: 7px;
  margin: 2px ;
}

.job-list {
  margin-top: 50px;
}

.job-container {
  background-color: rgb(209, 209, 228);
    padding: 10px;
    margin : 15px;
    border-radius: 16px;
    font-family: Poppins;
    justify-content: center;
    transition: all 200ms;
  }
  
.job-title {
  color: rgb(17, 0, 255);
  font-weight: bolder;
}

.job-company {
  color:rgb(255, 0, 149)
}

.job-created-time {
  color: rgb(100, 35, 90);
}

.job-link{
  color: rgb(255, 0, 0);
}

.job-description {
  display:none;
}

button{
    background-color: rgb(180, 25, 211);
    color:rgb(238, 234, 183);
    border-radius: 8px;
    padding: 7px;
    
}
.toggle-desc {
  background-color: chocolate;
  color:floralwhite
}
.new-job-name{
    background-color: rgb(209, 196, 200);
    color:rgb(80, 110, 23);
    border-radius: 8px;
    height: 25px;
    padding: 2px 25px 2px 5px;
  }


